<div class="jumbotron" ng-controller="trackCtrl">

    <h2 class="player_header">All Tracks</h2>

    <!--<div ng-repeat="track in tracks">-->
        <!--<button type="button" class="btn btn-default btn-lg add" track_id="{{ track.id }}" ng-click="addTrack(track)">-->
            <!--<span class="glyphicon glyphicon-plus"></span>-->
        <!--</button>-->

        <!--<button type="button" class="btn btn-default btn-lg play" track_id="{{ track.id }}" ng-click="play(track)">-->
            <!--<span class="glyphicon glyphicon-play"></span>-->
        <!--</button>-->
        <!--&lt;!&ndash;&ndash;&gt;-->
        <!--<a href="/track/{{ track.id }}" >{{ track.title }}</a>-->
    <!--</div>-->
</div>