<div ng-repeat="composer in composers">
    <button type="button" class="btn btn-default btn-lg" ng-click="fetchAndAddTracks(composer, 'add')">
        <span class="glyphicon glyphicon-plus"></span>
    </button>

    <button type="button" class="btn btn-default btn-lg add" track_id="{{ track.id }}" ng-click="fetchAndAddTracks(composer, 'play')">
        <span class="glyphicon glyphicon-play"></span>
    </button>

    <a ui-sref="composer-details({composerID: composer.id})">{{composer.first_name}} {{composer.middle_name}} {{composer.last_name}}</a>
</div>