
<div ng-repeat="work in works">
    <button type="button" class="btn btn-default btn-lg" ng-click="fetchAndAddTracks(work, 'add')">
        <span class="glyphicon glyphicon-plus"></span>
    </button>

    <button type="button" class="btn btn-default btn-lg add" ng-click="fetchAndAddTracks(work, 'play')">
        <span class="glyphicon glyphicon-play"></span>
    </button>

    <!--<div ng-include="'partials/track/track-panel.html'"></div>-->

    <a ui-sref="work-details({workID: work.id})">{{work.work_title}}</a> -
    <a ui-sref="composer-details({composerID: composer.id})" ng-repeat="composer in work.composers">{{concatName(composer)}}</a>
</div>